<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            <h4>Dear {{{userName}}}, you sent request for booking</h4>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;"> 
            <p style="margin: 17px 0 0;">
                <h2 size="+1">Booking name: {{{advertName}}} </h2>
                <h4 size="+1">Region: {{{region}}} </h4>
                <h4 size="+1">City: {{{city}}} </h4>
                <h4 size="+1">Price per day: {{{pricePerDay}}} </h4>
            </p>

            <br>

            <font size="1">Note: If your reservation is not accepted within 24 hours of the request, the reservation will be canceled automatically. 
            You will receive a notification by mail </font>
        </td>
    </tr>
 
    <br>